* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: txt_no_serif_27;
	src: url(fonts/S-Core-CoreSansN47CnRegular.otf);
}

html,
body {
	width: 100%;
	height: 100%;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.interactive-elements {
	width: 80vw;
	max-height: 160vw;
	height: 85vh;
	margin: 2em auto .5em;
	-webkit-clip-path: polygon(0% 0%, calc(100% - 9vw) 0%, 100% 9vw, 100% 100%, 9vw 100%, 0% calc(100% - 9vw), 0% 0%);
	clip-path: polygon(0% 0%, calc(100% - 9vw) 0%, 100% 9vw, 100% 100%, 9vw 100%, 0% calc(100% - 9vw), 0% 0%);
}

.interactive-top {
	width: 100%;
	height: 10%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.001) 100%);
	background: linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.001) 100%);
}

.interactive-wrapper {
	position: relative;
	width: 100%;
	height: 65%;
}

.interactive-wrapper .interactive-field {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.interactive-wrapper .interactive-field .i-item-1 {
	width: 100%;
	height: 62%;
	overflow: hidden;
}

.interactive-wrapper .interactive-field .i-item-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 38%;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.01) 100%);
	background: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.01) 100%);
}


.btn-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25%;
	background-image: url(element/bottom-bg.png);
	background-size: cover;
}

.btn-controls .btn-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 2.5vw 4vw 2vw;
	max-width: 18%;
	width: 18%;
}

.btn-controls .btn-item .btn-img img {
	margin: 0 auto;
	border-radius: 50%;
	transition: transform .12s ease;
}

.btn-controls .btn-item .btn-text {
	display: inline-block;
	padding: .2em .5em;
	margin: 4vw 0 1vw;
	text-align: center;
	background-color: #FEC10D;
	font-family: txt_no_serif_27;
	font-size: calc((100vw - 320px)/(1366 - 320) * (22 - 11) + 11px);
	white-space: nowrap;
}

.big-btn-img .btn-img img {
	transform: scale(1.3);
}








/* Смена цвета машин */

.fields-change {
	position: relative;
}

.fields-change .f-c-item {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity .5s ease;
}


.fields-change-btns {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 12%;
}

.fields-change-btns .f-c-btn {
	width: 5vw;
	height: 5vw;
	margin: 2vw;
	border-radius: 5px;
	border: 1px solid rgb(114, 114, 114);
	transition: transform .12s ease;
}

.fields-change-btns .f-c-btn-1 {
	background-color: #F1FAFF;
}

.fields-change-btns .f-c-btn-2 {
	background-color: #000080;
}

.fields-change-btns .f-c-btn-3 {
	background-color: #C0C0C0;
}

.fields-change-btns .f-c-btn-4 {
	background-color: #174454;
}

.fields-change-btns .f-c-btn-5 {
	background-color: #31130C;
}

.fields-change-btns .f-c-btn-6 {
	background-color: #0F0F0F;
}

.fields-change-btns .f-c-btn-7 {
	background-color: #AAB1B1;
}

.fields-change-btns .f-c-btn-8 {
	background-color: #E5E5E5;
}

.fields-change-btns .f-c-btn-9 {
	background-color: #857E76;
}

.fields-change-btns .f-c-btn-10 {
	background-color: #C8CCCC;
}

.fields-change-btns .f-c-btn-11 {
	background-color: #474144;
}

.fields-change-btns .f-c-btn-12 {
	background-color: #FF0000;
}

.f-c-big-btn {
	transform: scale(1.3);
}

/* Смена цвета машин end */





/* Панорама */


.panorama {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
}

.panorama iframe {
	width: 100vw;
	height: 100vh;
	z-index: 10001;
}


/* .wrap-3d {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
}

.wrap-3d iframe {
	width: 100vw;
	height: 100vh;
	z-index: 10001;
}
 */
.btn-destroy {
	position: absolute;
	top: 8%;
	right: 2%;
	width: 45px;
	height: 45px;
	background-color: #ffffff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.btn-destroy span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 35px;
	height: 35px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #ffffff;
	border: 1px solid #000;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	font-size: 40px;
}

/* Панорама end */



.d-n {
	display: none !important;
}

.op {
	opacity: 0 !important;
}

.event {
	pointer-events: none !important;
}



@media (max-device-width: 11cm) {
	.interactive-elements {
		width: 96vw;
	}

	.fields-change-btns .f-c-btn {
		width: 7vw;
		height: 7vw;
	}


}

@media screen and (orientation:landscape) {
	.interactive-elements {
		width: 80%;
		max-height: none;
		height: 120vw;
	}
}